<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
</head>
<body>



    <%- include("index.ejs") %>

    <%- include("post.ejs") %>

    <!-- 一般在写逻辑的时候会用到这个标签，这个标签不会输出到页面上 -->
    <%  %>

    <br />

    <% site.posts.forEach(function(post){ %>

        <%- post.path %>
        <br />

        <a href="/<%- post.path %>"><%- post.title %></a>

    <% }); %>
  


  <%- body %>

</body>
</html>